// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;

// @mixin sm {
//         @media (min-width: ($sm)) {
//         @content;
//         }
//     }
// @mixin md {
//         @media (min-width: ($md)) {
//         @content;
//         }
//     }
// @mixin lg {
//         @media (min-width: ($lg)) {
//         @content;
//         }
//     }
// @mixin xl {
//         @media (min-width: ($xl)) {
//         @content;
//     }
// }

$lg: 1080px;
$md: 873px;
$sm: 576px;

@mixin lg($lg) {
    @media all and (max-width: $lg) {
        .pcbr{
            display: none;
        }
        header{
            display: flex;
            justify-content: flex-end;
            // text-align-last: right;
            
            .drawer{
                display: block;
                text-align: right
            }
        }
        .secttion__one{
            .container {
                display: none;
            }
            .mv-responsive{
                display: block;
                width: 100%;
                position: relative;
                margin: 0 auto;
                z-index: 8;
                .mv-image-responsive{
                    z-index: 9;
                    width: 100%;
                }
                img {
                    display: block;
                }
                .logo{
                    display: block;
                    width: 125px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 10;
                }
            }
        }
        .secttion__two{
            .container {
                align-items: start;
                .content {
                    .content__message{
                        p {
                            line-height: 38px;
                            font-size: 18px;
                            font-family: "ヒラギノ明朝 Pro";
                            font-weight: 600;
                            color: $mfont--color;
                        }
                    }
                }
            }
        }
        .secttion__three{
            .container {
                align-items: start;
                .content {
                    .content__message{
                        p {
                            line-height: 38px;
                            font-size: 18px;
                            font-family: "ヒラギノ明朝 Pro";
                            font-weight: 600;
                            color: $mfont--color;
                        }
                    }
                }
            }
        }
        .secttion__four{
            .container {
                .content {
                    .content__message{
                        p {
                            line-height: 38px;
                            font-size: 18px;
                            color: green;
                        }
                    }
                }
            }
        }
    }
}

@mixin md($md) {
    @media all and (max-width: $md) {
        .secttion__two{
            box-sizing: border-box;
            .container{
                flex-wrap: wrap;
                box-sizing: border-box;
                .content{
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 40px;
                    .heading {
                        h2{
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                .content-image{
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .secttion__three{
            .container{
                flex-wrap: wrap;
                .content{
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 40px;
                    .heading {
                        h2{
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                .content-image{
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .secttion__four{
            .container{
                flex-wrap: wrap;
                .content{
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 40px;
                    .heading {
                        h2{
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                    .Reservation{
                        display: block;
                        text-align: center;
                        a {
                            padding: 20px 70px;
                        }
                    }
                }
                .content-image{
                    justify-content: space-evenly;
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    .image-box{
                        align-items: center;
                        margin: 0 atuo;
                    }
                }
            }
        }
        .secttion__btn{
            display: none;
        }
        footer{
            .footer-logo{
                padding-right: 0px;
            }
            .copy{
                padding-right: 0px;
                text-align: center;
            }
        }
    }
}


@mixin sm($sm) {
    @media all and (max-width: $sm) {
        .container{
            width: 92%;
        }
        header{
            .Reservation{
                width: 157px;
                .btn{
                    width: 157px;
                }
            }
            .drawer{
                #drawer-content{
                    width: 217px;
                }
            }
        }
        .secttion__two{
            .container{
                padding-top: 70px;
                .content{
                    min-width: 100px;
                    .content__message{
                        p{
                            font-size: 16px;
                        }
                    }
                    .heading{
                        padding-bottom: 24px;
                    }
                }
                .content__message{
                    font-size: 16px;
                    letter-spacing: 0px;
                }
                .content-image{
                    min-width: 100px;
                }
            }
        }
        .secttion__three{
            .container{
                padding-top: 70px;
                .content{
                    min-width: 100px;
                    .content__message{
                        p{
                            font-size: 16px;
                        }
                    }
                    .heading{
                        padding-bottom: 24px;
                    }
                }
                .content-image{
                    min-width: 100px;
                }
            }
        }
        .secttion__four{
            .container{
                padding-top: 70px;
                .content{
                    min-width: 100px;
                    .heading{
                        padding-bottom: 24px;
                    }
                    .content__menu{
                        width: 100%;
                        .course{
                            padding: 0 10px;
                            padding-bottom: 20px;
                        }
                    }
                    .Reservation{
                        margin: 0 auto;
                        padding: 20px 0;
                        text-align: center;
                        a {
                            padding: 20px 20px;
                        }
                    }
                }
                .content-image{
                    min-width: 100px;
                }
                min-width: 100px;
                .image-box{
                    width: 44%;
                    min-width: 0px;
                    .image-one{
                        width: 100%;
                        min-width: 0px;
                        padding-right: 10px;
                    }
                    .image-two{
                        width: 100%;
                        min-width: 0px;
                    }
                }
            }
        }
        footer{
            height: 100%;
            .gloabal-footer{
                display: flex;
                flex-wrap: wrap-reverse;
                .fnavi{
                    margin: 0 auto;
                    width: 66%;
                    p{
                        font-size: 16px;
                        letter-spacing: 0px;
                    }
                }
                .footer-logo{
                    width: 120px;
                    height: 150px;
                    margin: 0 auto;
                    padding-bottom: 30px;
                }
            }
        }
    }
}