// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;

// @mixin sm {
//         @media (min-width: ($sm)) {
//         @content;
//         }
//     }
// @mixin md {
//         @media (min-width: ($md)) {
//         @content;
//         }
//     }
// @mixin lg {
//         @media (min-width: ($lg)) {
//         @content;
//         }
//     }
// @mixin xl {
//         @media (min-width: ($xl)) {
//         @content;
//     }
// }

$lg: 1080px;
$md: 873px;
$sm: 576px;

@mixin lg($lg) {
    @media all and (max-width: $lg) {
        .pcbr{
            display: none;
        }
        header{
            display: flex;
            .drawer{
                display: block;
            }
        }
        .secttion__one{
            .container {
                display: none;
            }
            .mv-responsive{
                width: 100%;
                position: relative;
                margin: 0 auto;
                z-index: 8;
                .mv-image-responsive{
                    z-index: 9;
                    width: 100%;
                }
                img {
                    display: block;
                }
                .logo{
                    display: block;
                    width: 125px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 10;
                }
            }
        }
        .secttion__two{
            .container {
                align-items: start;
                .content {
                    .content__message{
                        p {
                            line-height: 38px;
                            font-size: 18px;
                            color: purple;
                        }
                    }
                }
            }
        }
        .secttion__three{
            .container {
                align-items: start;
                .content {
                    .content__message{
                        p {
                            line-height: 38px;
                            font-size: 18px;
                            color: green;
                        }
                    }
                }
            }
        }
        .secttion__four{
            .container {
                .content {
                    .content__message{
                        p {
                            line-height: 38px;
                            font-size: 18px;
                            color: green;
                        }
                    }
                }
            }
        }
    }
}

@mixin md($md) {
    @media all and (max-width: $md) {
        .secttion__two{
            box-sizing: border-box;
            .container{
                flex-wrap: wrap;
                box-sizing: border-box;
                .content{
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 40px;
                    .heading {
                        h2{
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                .content-image{
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .secttion__three{
            .container{
                flex-wrap: wrap;
                .content{
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 40px;
                    .heading {
                        h2{
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                .content-image{
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .secttion__four{
            .container{
                flex-wrap: wrap;
                .content{
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 40px;
                    .heading {
                        h2{
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                    .Reservation{
                        display: block;
                    }
                }
                .content-image{
                    justify-content: space-evenly;
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    .image-box{
                        align-items: center;
                        margin: 0 atuo;
                    }
                }
            }
        }
        .secttion__btn{
            display: none;
        }
        footer{
            .footer-logo{
                padding-right: 0px;
            }
            .copy{
                padding-right: 0px;
                text-align: center;
            }
        }
    }
}