
// 共通のプロパティを管理

// メイン背景色// #FFFFFF
$bg--color: #FFFFFF;
// コンテナ背景色// #70707000
$contniner--color: #707070;
// グローバルナビ// #F4F4F4
$gnavi--color: #F4F4F4;
// 見出し・コンテンツ// #2B2B2B
$mfont--color: #2B2B2B;
// ボタン・セクション分割// #C88D95
$btn--color: #C88D95;
// コース下線// #8B8B8B
$under--color: #8B8B8B;
// コピーライト// #797979
$copy--color: #797979;

// フォント
// Times
// ヒラギノ明朝 Pro


//セクション分割ライン
@mixin Heading($before) {
    h2{
        font-size: 40px;
        color: $mfont--color;
        display: flex;
        align-items: center;
        max-width: 560px;
        font-family: Times;
    } @if $before == before {
        h2:before{
            content: "";
            flex-grow: 1;
            height: 3px;
            background: $btn--color;
            display: block;
            margin-right: 30px;
        }
    }  @else {
        h2:after{
            content: "";
            flex-grow: 1;
            height: 3px;
            background: $btn--color;
            display: block;
            margin-left: 30px;
        }
    }
}

@mixin Message($before) {
    p{
        font-size: 18px;
        line-height: 44px;
        @if $before == before {
            text-align-last: right;
        } @else {
            ext-align-last: left;
        }
    }
}

@mixin Menu {
    .course{
        display: flex;
        border-bottom: 1px solid $under--color;
        font-size: 18px;
        padding-bottom: 7px;
        margin-bottom: 18px;
        .course-item{
            padding-left: 15px;
            margin-left: 0;
            margin-right: auto;
        }
        .course-price{
            padding-right: 15px;
            margin-right: 0;
            margin-left: auto;
        }
    }
}

@mixin Btn($position){
    h2 {
        background-color: $btn--color;
        color: $bg--color;
        width: 251px;
        line-height: 60px;
        text-align: center;
            @if $position == top {
                margin-left: auto;
                margin-right: 0;
            } @elseif $position == none {
                margin: 0 auto;
                display: none;
            } 
        }
}