// ②メインカラーの色を変数で管理してください
// ③@mixinでレスポンシブのmedia queryを継承方式で記述ください

// メイン背景色// #FFFFFF
$bg--color: #FFFFFF;
// コンテナ背景色// #70707000
$contniner--color: #707070;
// グローバルナビ// #F4F4F4
$gnavi--color: #F4F4F4;
// 見出し・コンテンツ// #2B2B2B
$mfont--color: #2B2B2B;
// ボタン・セクション分割// #C88D95
$btn--color: #C88D95;
// コース下線// #8B8B8B
$under--color: #8B8B8B;
// コピーライト// #797979
$copy--color: #797979;

// フォント
// Times
// ヒラギノ明朝 Pro

