
// 共通のプロパティを管理

// メイン背景色// #FFFFFF
$bg--color: #FFFFFF;
// コンテナ背景色// #70707000
$contniner--color: #707070;
// グローバルナビ// #F4F4F4
$gnavi--color: #F4F4F4;
// 見出し・コンテンツ// #2B2B2B
$mfont--color: #2B2B2B;
// ボタン・セクション分割// #C88D95
$btn--color: #C88D95;
// コース下線// #8B8B8B
$under--color: #8B8B8B;
// コピーライト// #797979
$copy--color: #797979;

// フォント
// Times
// ヒラギノ明朝 Pro


//セクション分割ライン
@mixin Heading($before) {
    h2{
        font-size: 40px;
        color: $mfont--color;
        display: flex;
        align-items: center;
        max-width: 560px;
        font-family: Times;
    } @if $before == before {
        h2:before{
            content: "";
            flex-grow: 1;
            height: 3px;
            background: $btn--color;
            display: block;
            margin-right: 30px;
        }
    }  @else {
        h2:after{
            content: "";
            flex-grow: 1;
            height: 3px;
            background: $btn--color;
            display: block;
            margin-left: 30px;
        }
    }
}

@mixin Message($before) {
    p{
        font-size: 18px;
        line-height: 44px;
        @if $before == before {
            text-align-last: right;
        } @else {
            text-align-last: left;
        }
    }
}

@mixin Menu {
    .course{
        display: flex;
        border-bottom: 1px solid $under--color;
        font-size: 18px;
        padding-bottom: 7px;
        margin-bottom: 18px;
        .course-item{
            padding-left: 15px;
            margin-left: 0;
            margin-right: auto;
        }
        .course-price{
            padding-right: 15px;
            margin-right: 0;
            margin-left: auto;
        }
    }
}

@mixin Btn($position){
    h2 {
        background-color: $btn--color;
        color: $bg--color;
        width: 251px;
        line-height: 60px;
        text-align: center;
            @if $position == top {
                margin-left: auto;
                margin-right: 0;
            } @else if $position == none {
                margin: 0 auto;
                display: none;
            } 
        }
}

@mixin Drawer {
    .drawer{
        #drawer-checkbox {
            display: none;
        }
        #drawer-icon {
            cursor: pointer;
            display: inline-block;
            height: 50px;
            position: relative;
            width: 50px;
        }
        #drawer-icon span {
            background:  #333;
            border-radius: 4px;
            display: block;
            height: 16%;
            left: 50%;
            margin: -8% 0 0 -42%;
            position: absolute;
            top: 50%;
            transition: all 0.3s ease-in-out;
            width: 84%;
        }
        #drawer-icon span::before,
        #drawer-icon span::after {
            -webkit-transform: rotate(0);
            background: #333;
            border-radius: 4px;
            content: "";
            display: block;
            height: 100%;
            left: 50%;
            margin: -8% 0 0 -50%;
            position: absolute;
            top: 50%;
            transform: rotate(0);
            transition: all 0.3s ease-in-out;
            width: 100%;
        }
        #drawer-icon span::before {
            margin-top: -38%;
        }
        #drawer-icon span::after {
            margin-top: 19%;
        }
        #drawer-checkbox:checked ~ #drawer-icon span {
            background: rgba(51, 51, 51, 0);
        }
        #drawer-checkbox:checked ~ #drawer-icon span::before,
        #drawer-checkbox:checked ~ #drawer-icon span::after {
            content: "";
            display: block;
            height: 100%;
            left: 50%;
            margin: -8% 0 0 -42%;
            position: absolute;
            top: 50%;
            width: 100%;
        }
        #drawer-checkbox:checked ~ #drawer-icon span::before {
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
        #drawer-checkbox:checked ~ #drawer-icon span::after {
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
        }
        #drawer-content {
            overflow: auto;
            position: fixed;
            top: 60px;
            right: 0;
            z-index: 40;
            width: 301px;
            max-width: 90%;
            height: 400px;
            background: $gnavi--color;
            transition: all 0.3s ease-in-out 0s;
            transform: translateX(301px);
            //表示内容部分
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        #drawer-checkbox:checked ~ #drawer-content {
            transform: translateX(0);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
        }
        #drawer-close {
            display: none;
            position: fixed;
            z-index: 39;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
        }
        #drawer-checkbox:checked ~ #drawer-close {
            display: block;
            opacity: 0.3;
        }
    }
    }
