@import "responsive";
// 共通のプロパティを管理

// メイン背景色// #FFFFFF
$bg--color: #FFFFFF;
// コンテナ背景色// #70707000
$contniner--color: #707070;
// グローバルナビ// #F4F4F4
$gnavi--color: #F4F4F4;
// 見出し・コンテンツ// #2B2B2B
$mfont--color: #2B2B2B;
// ボタン・セクション分割// #C88D95
$btn--color: #C88D95;
// コース下線// #8B8B8B
$under--color: #8B8B8B;
// コピーライト// #797979
$copy--color: #797979;

// フォント
// Times
// ヒラギノ明朝 Pro


//セクション分割ライン
@mixin Heading($before) {
    h2{
        font-size: 40px;
        color: $mfont--color;
        display: flex;
        align-items: center;
        max-width: 560px;
    } @if $before == before {
        h2:before{
            content: "";
            flex-grow: 1;
            height: 3px;
            background: $btn--color;
            display: block;
            margin-right: 30px;
        }
    } @else {
        h2:after{
            content: "";
            flex-grow: 1;
            height: 3px;
            background: $btn--color;
            display: block;
            margin-left: 30px;
        }
    }
}

@mixin Message($before) {
    p{
        font-size: 18px;
        line-height: 44px;
        @if $before == before {
            text-align-last: right;
        } @else {
            ext-align-last: left;
        }
    }
}