@charset "UTF-8";
/* ======================================================
共通パーツ読み込み
========================================================= */
* {
  box-sizing: border-box;
}

body {
  font-family: "Times", "ヒラギノ明朝 Pro", "ヒラギノ明朝 ProN", "sans-serif";
  background-color: #FFFFFF;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  width: 92.18%;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.spbr {
  display: none;
}

/* ======================================================
ヘッダー
========================================================= */
/* 初期確認用 */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

header .drawer #drawer-checkbox {
  display: none;
}

header .drawer #drawer-icon {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  position: relative;
  width: 50px;
}

header .drawer #drawer-icon span {
  background: #333;
  border-radius: 4px;
  display: block;
  height: 16%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease-in-out;
  width: 84%;
}

header .drawer #drawer-icon span::before,
header .drawer #drawer-icon span::after {
  -webkit-transform: rotate(0);
  background: #333;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -50%;
  position: absolute;
  top: 50%;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

header .drawer #drawer-icon span::before {
  margin-top: -38%;
}

header .drawer #drawer-icon span::after {
  margin-top: 19%;
}

header .drawer #drawer-checkbox:checked ~ #drawer-icon span {
  background: rgba(51, 51, 51, 0);
}

header .drawer #drawer-checkbox:checked ~ #drawer-icon span::before,
header .drawer #drawer-checkbox:checked ~ #drawer-icon span::after {
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 100%;
}

header .drawer #drawer-checkbox:checked ~ #drawer-icon span::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .drawer #drawer-checkbox:checked ~ #drawer-icon span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .drawer #drawer-content {
  overflow: auto;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 40;
  width: 301px;
  max-width: 90%;
  height: 400px;
  background: #F4F4F4;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(301px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .drawer #drawer-checkbox:checked ~ #drawer-content {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

header .drawer #drawer-close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

header .drawer #drawer-checkbox:checked ~ #drawer-close {
  display: block;
  opacity: 0.3;
}

header .Reservation .btn {
  background-color: #C88D95;
  color: #FFFFFF;
  width: 251px;
  line-height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
}

header .Reservation a {
  display: block;
  font-size: 20px;
  font-family: "ヒラギノ明朝 Pro";
  line-height: 34px;
  font-weight: bold;
  letter-spacing: 1px;
}

header .nav-btn {
  display: none;
}

header .snav-bar-menu {
  display: none;
}

header .drawer {
  display: none;
  background-color: #F4F4F4;
}

header .drawer #drawer-content {
  background-color: #F4F4F4;
  height: 370px;
}

header .drawer #drawer-icon span::before {
  background-color: #C88D95;
}

header .drawer #drawer-icon span {
  background-color: #C88D95;
}

header .drawer #drawer-icon span::after {
  background-color: #C88D95;
}

header .drawer #drawer-content .text-link {
  text-align: center;
  width: 100%;
}

header .drawer #drawer-content .text-link a {
  display: block;
  width: 100%;
  color: #2B2B2B;
  padding-top: 40px;
  font-size: 24px;
}

header .drawer #drawer-content .sns-icon {
  color: #2B2B2B;
  padding-top: 40px;
  font-size: 30px;
}

header .drawer #drawer-content i {
  padding: 0 10px;
}

/* ======================================================
メイン
========================================================= */
/* 初期確認用 */
.main {
  width: 100%;
  /* 初期確認用 */
  top: 60px;
  left: 0px;
}

/* ======================================================
セクション①
========================================================= */
.secttion__one {
  width: 100%;
  background-color: white;
  /* ヘッダー一固定調整用 */
  margin-top: 60px;
}

.gnavi .logo {
  padding-top: 24px;
}

.gnavi .menu {
  background-color: #F4F4F4;
  padding: 6px 21px 60px 60px;
  margin-top: 9px;
  margin-left: -60px;
}

.gnavi .menu ul {
  padding-top: 30px;
}

.gnavi .menu ul li {
  padding-top: 17px;
  padding-left: 18px;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  padding-bottom: 20px;
}

.gnavi .sns {
  padding: 35px 7px 0 15px;
  font-size: 29px;
  display: flex;
}

.gnavi .sns i {
  padding-right: 25px;
  padding-left: 5px;
  padding-bottom: 0px;
}

.mv {
  margin-left: auto;
  margin-right: 0;
}

.mv img {
  width: 100%;
}

.mv-responsive {
  display: none;
}

/* ======================================================
セクション②
========================================================= */
.secttion__two {
  width: 100%;
  /* 初期確認用 */
}

.secttion__two .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 123px;
}

.secttion__two .container .content {
  max-width: 563px;
  min-width: 400px;
  width: 100%;
}

.secttion__two .container .content .heading {
  padding-bottom: 40px;
  width: 100%;
}

.secttion__two .container .content .heading h2 {
  font-size: 40px;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  max-width: 560px;
  font-family: Times;
  letter-spacing: 3px;
}

.secttion__two .container .content .heading h2:before {
  content: "";
  flex-grow: 1;
  height: 3px;
  background: #C88D95;
  display: block;
  margin-right: 30px;
}

.secttion__two .container .content .content__message {
  width: 100%;
}

.secttion__two .container .content .content__message p {
  font-size: 18px;
  line-height: 44px;
  font-family: "Times";
  font-weight: Bold;
  color: #2B2B2B;
  letter-spacing: 0.3px;
  text-align-last: right;
}

.secttion__two .container .content-image {
  width: 500px;
  height: 333px;
  min-width: 400px;
  margin-bottom: 16px;
}

.secttion__two .container .content-image img {
  width: 100%;
}

/* ======================================================
セクション③
========================================================= */
.secttion__three {
  width: 100%;
  /* 初期確認用 */
}

.secttion__three .container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 128px;
}

.secttion__three .container .content {
  max-width: 550px;
  min-width: 400px;
  width: 100%;
}

.secttion__three .container .content .heading {
  padding-top: 0px;
  padding-bottom: 42px;
  width: 100%;
}

.secttion__three .container .content .heading h2 {
  font-size: 40px;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  max-width: 560px;
  font-family: Times;
  letter-spacing: 3px;
}

.secttion__three .container .content .heading h2:after {
  content: "";
  flex-grow: 1;
  height: 3px;
  background: #C88D95;
  display: block;
  margin-left: 30px;
}

.secttion__three .container .content .content__message {
  padding-bottom: 40px;
  width: 100%;
}

.secttion__three .container .content .content__message p {
  font-size: 18px;
  line-height: 44px;
  font-family: "Times";
  font-weight: Bold;
  color: #2B2B2B;
  letter-spacing: 0.3px;
  text-align-last: left;
}

.secttion__three .container .content-image {
  width: 570px;
  height: 380px;
  min-width: 400px;
}

.secttion__three .container img {
  width: 100%;
}

/* ======================================================
セクション④
========================================================= */
.secttion__four {
  width: 100%;
  /* 初期確認用 */
}

.secttion__four .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 138px;
}

.secttion__four .container .content {
  max-width: 495px;
  min-width: 400px;
  width: 100%;
}

.secttion__four .container .content .heading {
  padding-bottom: 52px;
}

.secttion__four .container .content .heading h2 {
  font-size: 40px;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  max-width: 560px;
  font-family: Times;
  letter-spacing: 3px;
}

.secttion__four .container .content .heading h2:before {
  content: "";
  flex-grow: 1;
  height: 3px;
  background: #C88D95;
  display: block;
  margin-right: 30px;
}

.secttion__four .container .content .heading h2 {
  font-size: 36px;
  letter-spacing: 2.2px;
}

.secttion__four .container .content .content__menu {
  width: 99%;
  margin: 0 auto;
  padding-left: 15px;
}

.secttion__four .container .content .content__menu .course {
  display: flex;
  border-bottom: 1px solid #8B8B8B;
  font-size: 18px;
  letter-spacing: 3px;
  padding-bottom: 2px;
  margin-bottom: 26px;
}

.secttion__four .container .content .content__menu .course .course-item {
  padding-left: 26px;
  margin-left: 0;
  margin-right: auto;
}

.secttion__four .container .content .content__menu .course .course-item p {
  font-weight: bold;
  letter-spacing: 2px;
}

.secttion__four .container .content .content__menu .course .course-price {
  padding-right: 20px;
  margin-right: 0;
  margin-left: auto;
  font-weight: bold;
}

.secttion__four .container .content .content__menu .course .course-price p {
  font-weight: bold;
}

.secttion__four .container .content .Reservation {
  display: none;
}

.secttion__four .container .content .Reservation .btn {
  background-color: #C88D95;
  color: #FFFFFF;
  width: 251px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
}

.secttion__four .container .content-image {
  padding-left: 15px;
  display: flex;
  flex-wrap: nowrap;
  width: 570px;
  min-width: 400px;
}

.secttion__four .container .content-image .image-one {
  padding-right: 34.5px;
  padding-top: 90px;
  width: 100%;
  min-width: 30%;
}

.secttion__four .container .content-image .image-two {
  padding-bottom: 10px;
  width: 100%;
  min-width: 30%;
}

.secttion__btn {
  padding-top: 30px;
  padding-bottom: 100px;
}

.secttion__btn .container {
  display: flex;
}

.secttion__btn .btn {
  background-color: #C88D95;
  color: #FFFFFF;
  width: 251px;
  line-height: 60px;
  text-align: center;
}

.secttion__btn a {
  margin-right: 0;
  margin-left: 131%;
  max-width: 224px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
  position: relative;
  z-index: 10;
}

.secttion__btn .line {
  text-align: right;
  margin: 0 0 0 auto;
  z-index: 9;
  width: 54vw;
}

.secttion__btn .line hr {
  height: 3px;
  background-color: #C88D95;
  width: 100%;
  position: relative;
  z-index: 0;
  margin: 25px 0;
}

/* ======================================================
フッター
========================================================= */
/* 初期確認用 */
footer {
  width: 100%;
  /* 初期確認用 */
  background-color: #F4F4F4;
  height: 275px;
}

footer .gloabal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
}

footer .fnavi {
  width: 440px;
}

footer .fnavi .fnavi-column {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 100px;
}

footer .fnavi .fnavi-column a {
  color: #2B2B2B;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

footer .fnavi .fnavi-column .left-box {
  width: 75px;
  text-align: left;
}

footer .footer-logo-box {
  padding-right: 52px;
  padding-bottom: 28px;
}

footer .footer-logo-box .footer-logo {
  width: 74%;
}

footer .copy {
  text-align: right;
  padding-right: 100px;
}

footer .copy p {
  font-family: "ヒラギノ明朝 Pro";
  font-size: 12px;
  letter-spacing: 2px;
}

/* ======================================================
レスポンシブ
========================================================= */
/* ======================================================
レスポンシブ・大
========================================================= */
@media all and (max-width: 1080px) {
  .pcbr {
    display: none;
  }
  header {
    display: flex;
    justify-content: flex-end;
  }
  header .drawer {
    display: block;
    text-align: right;
  }
  .secttion__one .container {
    display: none;
  }
  .secttion__one .mv-responsive {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 8;
  }
  .secttion__one .mv-responsive .mv-image-responsive {
    z-index: 9;
    width: 100%;
  }
  .secttion__one .mv-responsive img {
    display: block;
  }
  .secttion__one .mv-responsive .logo {
    display: block;
    width: 125px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  .secttion__two .container {
    align-items: start;
  }
  .secttion__two .container .content .content__message p {
    line-height: 38px;
    font-size: 18px;
    font-family: "ヒラギノ明朝 Pro";
    font-weight: 600;
    color: #2B2B2B;
  }
  .secttion__three .container {
    align-items: start;
  }
  .secttion__three .container .content .content__message p {
    line-height: 38px;
    font-size: 18px;
    font-family: "ヒラギノ明朝 Pro";
    font-weight: 600;
    color: #2B2B2B;
  }
  .secttion__four .container .content .content__message p {
    line-height: 38px;
    font-size: 18px;
    color: green;
  }
}

/* ======================================================
レスポンシブ・中
========================================================= */
@media all and (max-width: 873px) {
  .secttion__two {
    box-sizing: border-box;
  }
  .secttion__two .container {
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .secttion__two .container .content {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .secttion__two .container .content .heading h2 {
    width: 100%;
    max-width: 100%;
  }
  .secttion__two .container .content-image {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .secttion__three .container {
    flex-wrap: wrap;
  }
  .secttion__three .container .content {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .secttion__three .container .content .heading h2 {
    width: 100%;
    max-width: 100%;
  }
  .secttion__three .container .content-image {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .secttion__four .container {
    flex-wrap: wrap;
  }
  .secttion__four .container .content {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .secttion__four .container .content .heading h2 {
    width: 100%;
    max-width: 100%;
  }
  .secttion__four .container .content .Reservation {
    display: block;
    text-align: center;
  }
  .secttion__four .container .content .Reservation a {
    padding: 20px 70px;
  }
  .secttion__four .container .content-image {
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .secttion__four .container .content-image .image-box {
    align-items: center;
    margin: 0 atuo;
  }
  .secttion__btn {
    display: none;
  }
  footer .footer-logo {
    padding-right: 0px;
  }
  footer .copy {
    padding-right: 0px;
    text-align: center;
  }
}

/* ======================================================
レスポンシブ・小
========================================================= */
@media all and (max-width: 576px) {
  .container {
    width: 92%;
  }
  header .Reservation {
    width: 157px;
  }
  header .Reservation .btn {
    width: 157px;
  }
  header .drawer #drawer-content {
    width: 217px;
  }
  .secttion__two .container {
    padding-top: 70px;
  }
  .secttion__two .container .content {
    min-width: 100px;
  }
  .secttion__two .container .content .content__message p {
    font-size: 16px;
  }
  .secttion__two .container .content .heading {
    padding-bottom: 24px;
  }
  .secttion__two .container .content__message {
    font-size: 16px;
    letter-spacing: 0px;
  }
  .secttion__two .container .content-image {
    min-width: 100px;
  }
  .secttion__three .container {
    padding-top: 70px;
  }
  .secttion__three .container .content {
    min-width: 100px;
  }
  .secttion__three .container .content .content__message p {
    font-size: 16px;
  }
  .secttion__three .container .content .heading {
    padding-bottom: 24px;
  }
  .secttion__three .container .content-image {
    min-width: 100px;
  }
  .secttion__four .container {
    padding-top: 70px;
    min-width: 100px;
  }
  .secttion__four .container .content {
    min-width: 100px;
  }
  .secttion__four .container .content .heading {
    padding-bottom: 24px;
  }
  .secttion__four .container .content .content__menu {
    width: 100%;
  }
  .secttion__four .container .content .content__menu .course {
    padding: 0 10px;
    padding-bottom: 20px;
  }
  .secttion__four .container .content .Reservation {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  .secttion__four .container .content .Reservation a {
    padding: 20px 20px;
  }
  .secttion__four .container .content-image {
    min-width: 100px;
  }
  .secttion__four .container .image-box {
    width: 44%;
    min-width: 0px;
  }
  .secttion__four .container .image-box .image-one {
    width: 100%;
    min-width: 0px;
    padding-right: 10px;
  }
  .secttion__four .container .image-box .image-two {
    width: 100%;
    min-width: 0px;
  }
  footer {
    height: 100%;
  }
  footer .gloabal-footer {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  footer .gloabal-footer .fnavi {
    margin: 0 auto;
    width: 70%;
  }
  footer .gloabal-footer .fnavi p {
    font-size: 16px;
    letter-spacing: 0px;
  }
  footer .gloabal-footer .footer-logo {
    width: 120px;
    height: 150px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
