@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Times" "ヒラギノ明朝 Pro" "ヒラギノ明朝 ProN" "sans-serif";
  background-color: #FFFFFF;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* ======================================================
ヘッダー
========================================================= */
/* 初期確認用 */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

header h2 {
  background-color: #C88D95;
  color: #FFFFFF;
  width: 251px;
  line-height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
}

/* ======================================================
メイン
========================================================= */
/* 初期確認用 */
.main {
  width: 100%;
  /* 初期確認用 */
  top: 100px;
  left: 0px;
}

/* ======================================================
セクション①
========================================================= */
.secttion__one {
  width: 100%;
  background-color: white;
  /* ヘッダー一固定調整用 */
  margin-top: 60px;
}

.gnavi .menu {
  background-color: #F4F4F4;
  padding: 60px 10px 70px 60px;
  margin-left: -60px;
}

.gnavi .menu ul li {
  line-height: 24px;
  font-size: 20px;
  padding-bottom: 40px;
}

.gnavi .sns {
  padding: 0px 30px 0 0;
  font-size: 24px;
}

.gnavi .sns i {
  padding-right: 30px;
  padding-bottom: 30px;
}

.mv {
  margin-left: auto;
  margin-right: 0;
}

.mv img {
  width: 100%;
}

/* ======================================================
セクション②
========================================================= */
.secttion__two {
  width: 100%;
  /* 初期確認用 */
}

.secttion__two .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}

.secttion__two .container .content {
  max-width: 550px;
  width: 100%;
}

.secttion__two .container .content .heading {
  padding-bottom: 48px;
}

.secttion__two .container .content .heading h2 {
  font-size: 40px;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  max-width: 560px;
  font-family: Times;
}

.secttion__two .container .content .heading h2:before {
  content: "";
  flex-grow: 1;
  height: 3px;
  background: #C88D95;
  display: block;
  margin-right: 30px;
}

.secttion__two .container .content .content__message p {
  font-size: 18px;
  line-height: 44px;
  text-align-last: right;
}

/* ======================================================
セクション③
========================================================= */
.secttion__three {
  width: 100%;
  /* 初期確認用 */
}

.secttion__three .container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}

.secttion__three .container .content {
  max-width: 550px;
  width: 100%;
}

.secttion__three .container .content .heading {
  padding-bottom: 48px;
}

.secttion__three .container .content .heading h2 {
  font-size: 40px;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  max-width: 560px;
  font-family: Times;
}

.secttion__three .container .content .heading h2:after {
  content: "";
  flex-grow: 1;
  height: 3px;
  background: #C88D95;
  display: block;
  margin-left: 30px;
}

.secttion__three .container .content .content__message p {
  font-size: 18px;
  line-height: 44px;
  ext-align-last: left;
}

.secttion__three .container .content-image {
  width: 570px;
  height: 380px;
}

.secttion__three .container img {
  width: 100%;
}

/* ======================================================
セクション④
========================================================= */
.secttion__four {
  width: 100%;
  /* 初期確認用 */
}

.secttion__four .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}

.secttion__four .container .content {
  max-width: 550px;
  width: 100%;
}

.secttion__four .container .content .heading {
  padding-bottom: 48px;
}

.secttion__four .container .content .heading h2 {
  font-size: 40px;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  max-width: 560px;
  font-family: Times;
}

.secttion__four .container .content .heading h2:before {
  content: "";
  flex-grow: 1;
  height: 3px;
  background: #C88D95;
  display: block;
  margin-right: 30px;
}

.secttion__four .container .content .content__menu {
  width: 90%;
  margin: 0 auto;
}

.secttion__four .container .content .content__menu .course {
  display: flex;
  border-bottom: 1px solid #8B8B8B;
  font-size: 18px;
  padding-bottom: 7px;
  margin-bottom: 18px;
}

.secttion__four .container .content .content__menu .course .course-item {
  padding-left: 15px;
  margin-left: 0;
  margin-right: auto;
}

.secttion__four .container .content .content__menu .course .course-price {
  padding-right: 15px;
  margin-right: 0;
  margin-left: auto;
}

.secttion__four .container .content .Reservation {
  display: none;
}

.secttion__four .container .content .Reservation h2 {
  background-color: #C88D95;
  color: #FFFFFF;
  width: 251px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.secttion__four .container .content-image {
  padding-bottom: 37px;
}

.secttion__four .container .content-image .image-one {
  padding-right: 34.5px;
}

.secttion__four .container .content-image .image-two {
  padding-bottom: 10px;
}

.secttion__btn {
  padding-bottom: 110px;
}

.secttion__btn .container {
  display: flex;
}

.secttion__btn h2 {
  background-color: #C88D95;
  color: #FFFFFF;
  width: 251px;
  line-height: 60px;
  text-align: center;
}

.secttion__btn h2 {
  margin-right: 0;
  margin-left: 27%;
  max-width: 224px;
  width: 100%;
  height: 50px;
}

.secttion__btn hr {
  height: 3px;
  display: block;
  background-color: #C88D95;
  width: 100%;
  margin: auto 0;
}

/* ======================================================
フッター
========================================================= */
/* 初期確認用 */
footer {
  width: 100%;
  /* 初期確認用 */
  background-color: #F4F4F4;
  height: 275px;
}

footer .gloabal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

footer .fnavi {
  width: 357px;
}

footer .fnavi .fnavi-column {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

footer .footer-logo {
  padding-right: 100px;
}

footer .copy {
  text-align: right;
  padding-right: 100px;
}
