/* ======================================================
共通パーツ読み込み
========================================================= */
@import "style";

* {
    box-sizing: border-box;
}

body {
    font-family: 
    "Times",
    "ヒラギノ明朝 Pro",
    "ヒラギノ明朝 ProN",
    "sans-serif";
    background-color: $bg--color;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    max-width:1180px;
    // width: 100%;
    width: 92.18%;
    height: 100%;
    margin: 0 auto;

}

.flex{
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.spbr{
    display: none;
}

/* ======================================================
ヘッダー
========================================================= */
/* 初期確認用 */
header{
    @include Drawer;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    .Reservation{
        @include Btn('top');
        a {
            display: block;
            font-size: 20px;
            font-family: "ヒラギノ明朝 ProN";
            line-height: 34px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    .nav-btn{
        display: none;
    }
    .snav-bar-menu{
        display: none;
    }
    .drawer{
        display: none;
        background-color: $gnavi--color;
        padding: 0 5px;
        padding-top: 5px;
        // padding-top: 5px;
        // padding-right: 12px;
        // padding-left: 12px;
        #drawer-content{
            background-color: $gnavi--color; //ドロワーのコンテンツ部分の背景色
        }
        #drawer-icon span::before{
            background-color: $btn--color; //ドロワーアイコンの色↓三つで共通１
            margin-top: -39%; //中心からの距離上線
        }   
        #drawer-icon span {
            background-color: $btn--color; //ドロワーアイコンの色↓三つで共通２
            height: 8.5%; //ドロワーアイコンの線の太さ
            left: 52.6%; //ドロワーアイコンの左からの位置
            margin: -8% 0 0 -35%;
            top: 51%; //ドロワーアイコン全体の高さ
            width: 64%;
            border-radius: 19px;
            // height: 16%;
            // left: 50%;
            // margin: -8% 0 0 -42%;
            // top: 50%;
            // width: 84%;
        }
        #drawer-icon span::after{
            background-color: $btn--color; //ドロワーアイコンの色↓三つで共通３
            // background-color: red; //ドロワーアイコンの色↓三つで共通３
            margin-top: 25%; //中心からの距離下線
        }
        #drawer-content{
            // display: flex;
            // flex-wrap: wrap;
            .text-link{
                text-align: center;
                width: 100%;
                // height: 100px;
                a {
                    display: block;
                    width: 100%;
                    color: $mfont--color;
                    padding-top: 40px;
                    font-size: 24px;
                }
            }
            .sns-icon{
                color: $mfont--color;
                padding-top: 40px;
                font-size: 30px;
            } i {
                padding: 0 10px;
            }
        }
    }
}






/* ======================================================
メイン
========================================================= */
/* 初期確認用 */
.main{
    width: 100%;
    /* 初期確認用 */
    top: 60px;
    left: 0px;
}


/* ======================================================
セクション①
========================================================= */
.secttion__one{
    width: 100%;
    background-color: white;
    /* ヘッダー一固定調整用 */
    margin-top: 60px;
    // align-items: center;
    // margin-bottom: 2px;
    } .gnavi {
        .logo{
            padding-top: 24px;
        }
        .menu{
            background-color: $gnavi--color;
            padding :6px 21px 60px 60px;
            margin-top: 9px;
            margin-left: -60px;
            color: $mfont--color;
            ul {
                padding-top: 30px;
                li{
                    padding-top: 17px;
                    padding-left: 18px;
                    line-height: 24px;
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    padding-bottom: 20px;
                }
            }
        } .sns {
            padding :35px 7px 0 15px;
            font-size: 29px;
            display: flex;
            i{
                padding-right: 25px;
                padding-left: 5px;
                padding-bottom: 0px;
            }
        }
    } .mv {
        margin-left:auto;
        margin-right: 0;
        img {
            width: 100%;
        }
    } .mv-responsive{
        display: none;
    }



/* ======================================================
セクション②
========================================================= */
.secttion__two{
    width: 100%;
    /* 初期確認用 */

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 123px;
        .content{
            max-width: 563px;
            min-width: 400px;
            width: 100%;
            // margin-right: 108px;
            .heading{
                @include Heading('before');
                padding-bottom: 40px;
                width: 100%;
            }
            .content__message{
                @include Message('before');
                width: 100%;
            }
        }
        .content-image {
            width: 500px;
            height: 333px;
            min-width: 400px;
            margin-bottom: 16px;
            // text-align:center
            img{
                width: 100%;
            }
        }
    }
}

/* ======================================================
セクション③
========================================================= */

.secttion__three{
    width: 100%;
    /* 初期確認用 */
    .container{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 128px;
        .content{
            max-width: 550px;
            min-width: 400px;
            width: 100%;
            .heading{
                @include Heading('after');
                padding-top: 0px;
                padding-bottom: 42px;
                width: 100%;
            }
            .content__message{
                @include Message('after');
                padding-bottom: 40px;
                width: 100%;
            }
        }
        .content-image {
            width: 570px;
            height: 380px;
            min-width: 400px;
            // margin-bottom: 5px;
        } img {
            width: 100%;
        }
    }
}

/* ======================================================
セクション④
========================================================= */
.secttion__four{
    width: 100%;
    /* 初期確認用 */
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 138px;
        .content{
            max-width: 495px;
            min-width: 400px;
            width: 100%;
            .heading{
                @include Heading('before');
                h2{
                    font-size: 36px;
                    letter-spacing: 2.2px;
                }
                padding-bottom: 52px;
            }
            .content__menu{
                width: 99%;
                margin: 0 auto;
                padding-left: 15px;
                @include Menu;
            }
            .Reservation{
                @include Btn('none');
                display: none;
            }
        }
        .content-image {
            // padding-bottom: 6px;
            padding-left: 15px;
            // min-width: 60%;
            display: flex;
            flex-wrap: nowrap;
            width: 570px;
            min-width: 400px;
            .image-one{
                padding-right: 34.5px;
                padding-top: 90px;
                width: 100%;
                min-width: 30%;
            }
            .image-two{
                padding-bottom: 10px;
                width: 100%;
                min-width: 30%;
            }
        }
    }
}

.secttion__btn{
    padding-top: 30px;
    padding-bottom: 100px;
    .container{
        display: flex;
    }
    @include Btn('under');
    a{
        margin-right: 0;
        margin-left: 131%;
        max-width: 224px;
        width: 100%;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        display: block;
        position: relative;
            z-index: 10;
    }
    .line{
        text-align: right;
        margin: 0 0 0 auto;
        z-index: 9;
        width: 54vw;
        hr{
            height: 3px;
            // display: block;
            background-color: $btn--color;
            width: 100%;
            position: relative;
            z-index: 0;
            margin: 25px 0;
            
        }
    }
}










/* ======================================================
フッター
========================================================= */
  /* 初期確認用 */
footer{
    width: 100%;
    /* 初期確認用 */
    background-color: $gnavi--color;
    height: 275px;
    .gloabal-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 46px;
    }
    .fnavi{
        max-width: 438px;
        width: 100%;    
        .fnavi-column{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            padding-left: 100px;
            a{
                color: $mfont--color;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .left-box{
                width: 75px;
                text-align: left;
            }
        }
    }
    .footer-logo-box{
        // padding-top: 3px;
        padding-right: 52px;
        padding-bottom: 28px;
        // width: 151px;
        // height: 151px;
        .footer-logo{
            // width: 80%;
            // width: 100%;
            width: 74%;
        }
    }
    .copy{
        text-align: right;
        padding-right: 100px;
        p {
            font-family: "ヒラギノ明朝 Pro";
            font-size: 12px;
            letter-spacing: 2px;
            color: $copy--color;
        }
    }
}

/* ======================================================
レスポンシブ
========================================================= */
@import "responsive";
/* ======================================================
レスポンシブ・大
========================================================= */
@include lg($lg);
/* ======================================================
レスポンシブ・中
========================================================= */
@include md($md);
/* ======================================================
レスポンシブ・小
========================================================= */
@include sm($sm);